[Desktop Entry]
Name=autostart
Comment=autostart
Exec=autostart
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
